body{
    background-color: black;
    color:white;
}
#parent{
    border: solid white;
    display: grid;
    /* grid-template-columns: 150px 150px 80px;
    grid-template-rows: 200px auto;
    grid-gap: 20px 25px; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;

    grid-template-areas: 
    "header header header"
    "nav blog blog"
    "nav blog blog"
    "footer footer footer";

   
}

.parent > header{
    grid-area: header;
}

.parent > nav{
    grid-area: nav;
}
.parent > blog{
    grid-area: blog;
}
.parent > footer{
    grid-area: footer;
}

.child{
    border: thick solid;
    padding: 25px;
    font-size: 30px;
    text-align: center;
}

.child1{
    border-color: red;
    grid-row: 1/3;
}
.child2{
    border-color: orange;
    grid-column: 2/4;
}
.child3{
    border-color: yellow;
}
.child4{
    border-color: green;
}
.child5{
    border-color: royalblue;
}
.child6{
    border-color: purple;
}
.child7{
    border-color: grey;
}